/* 404 error location: application » errors » error_404.php */
html { min-height: 100%; }
body {
	background: #a90329;
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

.box {
	width: 500px;
	height: 250px;
	box-shadow: 0px 0px 15px black;
	margin: auto;
	margin-top: 50px;
	padding: 10px;
	text-align: center;
	background-color: white;
}

h1 {
	font-family: arial;
	text-transform: uppercase;

}

p {
	font-family: arial;
}