/* PlayerCraft Admin CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html { height: 100%; }

body {
	background-color: #A2B5CD;
}


/* Text and headers */

/* Headers and text */
h1 { font-size: 2.5em;	}
h2 { font-size: 2em;	}
h3 { font-size: 1.5em;	}
h4 { font-size: 1em;	}

section, header, nav li {
	font-family: arial;
}

.inline {
	display: inline;
}

/* Navigation */

header {
	height: 35px;
	display: block;
	background-color: #000;
	box-shadow: 0px 0px 6px #000;
}

nav ul  {
	display: inline;
	float: right;
	vertical-align: top;
	margin-top: 5px;
}

nav li {
	display: inline;
	color: #FAFAFA;
	padding: 10px;
	font-size: 1.1em;
	color: #fff;
	padding-top: 10px;
}

nav a {
	text-decoration: none;
	color: #fff;
}

nav a:hover {
	border-radius: 2px;
	opacity: 0.5;
}

.black-gradient { background-image: url('../images/admin/gradient.png');}


/* Content */

section {
	width: 650px;
	box-shadow: 0px 0px 9px #000;
	min-height: 350px;
	min-height: 450px;
	margin: auto;
	margin-top: 25px;
	border-radius: 3px;
	padding: 7px;
	background-color: white;
}


/* Aside */

aside {
	display: inline;
	width: 200px;
}

/*  Footer */

/* Misc */

blockquote {
	border: 1px solid gray;
	border-radius: 3px;
	background-color: #EEDC82;
	padding: 10px;
	margin: 15px;
}

/* Widget */
.widget
{
	border: 2px solid gray;
	border-radius: 5px;
	background-color: white;
        margin-top: 15px;
}

.widget h4
{
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	color: #fff;
	text-align: center;
	font-size: 16px;
	padding: 5px;
	background-image: url(../images/dirt.png);
	letter-spacing: 1px;
}

.widget p
{
	padding: 4px;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	color: #333333;
}

/* NewBox */
#NewBox
{
	left: 275px;
	width: 250px;
	z-index: 1000;
	background-color: white;
	border: 1px solid gray;
	padding: 10px;
	margin: auto;
	margin-top: 10px;
	font-family: arial;
	display: none;
}

#NewBox input
{
	margin-top: 10px;
	display: inline;
	padding: 2px;
}

/* Editor notice */
.editor-notice
{
	display: block;
	width: 620px;
	margin: auto;
	background-color: green;
	text-align: center;
	margin-bottom: 15px;
	padding: 2px;
	color: white;
}
.editor-notice a
{
	color: blue;
}

.remove
{
float: right;
padding: 2px;
}


#PageProperties
{
border-radius: 3px;
width: 184px;
border: 1px solid gray;
padding: 6px;
display: inline-block;
vertical-align: top;
height: 245px;
}

.Prob
{
padding: 5px;
}

a {
	text-decoration: none;
}

/* Table */

table td {
	padding: 5px;
	text-align: left;
	min-width: 125px;
}

table th {
	font-weight: bold;
	font-size: 1.1em;
	text-align: left;
	min-width: 125px;
}

/* New redirect */
#NewRedirect
{
	left: 275px;
	width: 250px;
	z-index: 1000;
	background-color: white;
	border: 1px solid gray;
	padding: 10px;
	margin: auto;
	margin-top: 10px;
	font-family: arial;
	display: none;
}