p, h4{margin: 0px; padding: 0px;}
body
{
	background-color: #8BBCFE;
}
#loginbox{
	border: 1px solid gray;
	border-radius: 2px;
	width: 250px;
	margin: auto;
	padding: 10px;
	font-family: arial;
	background-color: white;
	color: black;
}

#loginbox input{
	border: 1px solid gray;
	padding: 1px;
	margin-top: 2px;
}

.failure{
	display: block;
	background-color: red;
	font-weight: bold;
	color: white;
	font-family: arial;
	text-align: center;
	margin-bottom: 5px;
}

.logo{
	width: 132px;
	margin: auto;
}
