/* Playercraft css */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

img
{
       border: 0px;
}

body
{
	background-color: #8BBCFE;
	background-image: url(../images/grass.png), url(../images/cloud.png), url(../images/sun.png);
	background-repeat: repeat-x, repeat-x, no-repeat;
	background-position: bottom center, center center, top left;
	background-attachment: fixed;
}

/** Container **/
#container{
	margin-top: 30px;
	width: 1000px;
	margin: auto;
}

#container A:link
{
	text-decoration: none;
}

/** Menu **/
#menu
{
	border-bottom: 1px solid gray;
	height: 25px;
	text-align: center;
	background-image: url(../images/dirt.png);
	padding: 10px;
	background-color: white;
	border: 2px solid gray;
	border-radius: 10px;
    box-shadow: 1px 1px 2px black;

}

#menu A:link
{
	color: white;
	text-decoration: none;
	font-family: arial;
	font-weight: bold;
}

#menu A:visited
{
	text-decoration: none;
	color: white;
}

#menu A:hover
{
      opacity: 0.7;

}


#menu li
{
	display: inline;
	list-style: none;
	margin-left: 10px;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 13px;
}

h2{
	color: #2E2E2E;
	font-size: 30px;
	text-shadow: 1px 1px 1px gray;
}

#content
{
	padding: 30px;
	padding-top: 10px;
	font-family: arial;
	float: left;
	width: 625px;
	border: 2px solid gray;
	border-radius: 5px;
	background-color: white;
    margin-top: 15px;
    color: #333333;
}

p{
	color: #282828;
}

#content h1, h2, h3, h4{
	font-weight: bold;
}

/** Sidebar (#aside, .widget) **/
#aside
{
	float: right;
	margin-right: 25px;
	padding-bottom: 20px;
	width: 260px;

}

.widget
{
	border: 2px solid gray;
	border-radius: 5px;
	background-color: white;
        margin-top: 15px;
}

.widget h4
{
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	color: #fff;
	text-align: center;
	font-size: 16px;
	padding: 5px;
	background-image: url(../images/dirt.png);
	letter-spacing: 1px;
}

.widget p
{
	padding: 4px;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	color: #333333;
}

#logo{
	width: 665px;
	height: 92px;
	margin-left: auto;
	margin-right: auto;
}

#clear{
	clear: both;
	height: 10px;
	visibility: hidden;
}
/** Button **/
.button{
	display: inline-block;
	padding: 6px;
	border: 3px solid black;
	background-image: url(../images/button_bg.png);
	margin-top: auto;
	padding-top: 9px;
	padding-right: 50px;
	padding-left: 50px;
	font-weight: bold;
	color: white;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 16px;
	cursor: default;
	letter-spacing: 1px;
	cursor: pointer;
}

.button:hover
{
	background-image: url(../images/button_hover.png);
}

.inline{
	display: inline;
}

.sun
{
         position: absolute;
         top: 0;
         z-index: -500;
}

/* Other stuff */

.qoute
{
	border: 1px solid gray;
	border-radius: 2px;
	background-color: #F0E68C;
	width: 450px;
	font-style: italic;
	padding: 5px;
}

/* Players class */

.players {
	background-color: #fff;
	display: block;
	min-height: 50px;
	max-height: 250px;
	width: 240px;
	padding: 4px;
	margin: 5px;
	overflow: auto;
}

.players li {
	margin-left: 20px;
	font-family: arial;
	list-style-image: url(../images/online-icon.png);
}